.ant-modal-content {
  .ant-modal-close {
    margin-right: 16px;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    .ant-modal-close-x {
      display: flex;
      line-height: normal;
      align-items: center;
      justify-content: center;
      .ant-modal-close-icon {
        color: black;
      }
    }
  }
  .ant-modal-header {
    margin-left: 16px;
    margin-bottom: 30px;
  }
  .ant-modal-footer {
    display: none;
  }
}
